<h1>Package: {{package.name}}</h1>
<h3>Channels: </h3>
<table ng-table class="table">
  <tr ng-repeat="channel in channels">
    <td data-title="'Name'"><a href="#/channels/{{channel.id}}">{{channel.name}}</a></td>
    <td data-title="'Language'">{{channel.language}}</td>
  </tr>
</table>
<h3>Users: </h3>
<table ng-table class="table">
  <tr ng-repeat="user in users">
    <td data-title="'Name'"><a href="#/users/{{user.id}}">{{user.name}}</a></td>
    <td data-title="'Mail'">{{user.mail}}</td>
  </tr>
</table>
