<form ng-submit="submit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" ng-model="user.name">
  </div>
  <div class="form-group">
    <label for="mail">Email address</label>
    <input type="email" class="form-control" id="mail" ng-model="user.mail">
  </div>
  <p>Package: {{package.name}}</p>
  <button type="submit" class="btn btn-default">Save</button>
</form>
