<table ng-table class="table">
  <tr ng-repeat="user in users">
    <td data-title="'Name'"><a href="#/users/{{user.id}}">{{user.name}}</a></td>
    <td data-title="'Mail'">{{user.mail}}</td>
  </tr>
</table>
